<h1>Mypage#index</h1>
<p>Find me in app/views/mypage/index.html.erb</p>

<ul class="nav nav-tabs">
    <li><a href="#mypage-home" data-toggle="tab">Home</a></li>
    <li><a href="#mypage-participate-feses" data-toggle="tab">参加中の大会</a></li>
    <li><a href="#mypage-manage-feses" data-toggle="tab">開催中の大会</a></li>
</ul>
<div class="tab-content" id="tabs">
    <div class="tab-pane" id="mypage-home">アカウント情報がうんたらかんたら</div>
    <div class="tab-pane" id="mypage-participate-feses">参加中の大会のリストもしくは「参加中の大会はありません」</div>
    <div class="tab-pane" id="mypage-manage-feses">.運営中の大会のリストもしくは「運営中の大会はありません」</div>
</div>